* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #f2f2f2;
  min-width: 300px; }
  body a {
    text-decoration: none;
    color: #000; }
  body input {
    -webkit-box-shadow: none;
            box-shadow: none;
    resize: none;
    outline: none;
    border: none; }
  body textarea {
    -webkit-box-shadow: none;
            box-shadow: none;
    resize: none;
    outline: none;
    border: none; }

.h-400 {
  height: 400px; }

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000; }

.image-pos-mobile {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: .3;
  z-index: 11;
  pointer-events: none;
  top: 13px; }
  @media (min-width: 540px) {
    .image-pos-mobile {
      display: none; } }

.image-pos-tablet {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  opacity: .3;
  z-index: 11;
  pointer-events: none; }
  @media (min-width: 540px) {
    .image-pos-tablet {
      display: block; } }
  @media (min-width: 1200px) {
    .image-pos-tablet {
      display: none; } }

.image-pos-desktop {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -0.4%);
          transform: translate(-50%, -0.4%);
  display: none;
  opacity: .3;
  z-index: 11;
  pointer-events: none; }
  @media (min-width: 1200px) {
    .image-pos-desktop {
      display: block; } }

.content {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  margin: 0 auto; }

.top-nav {
  position: relative; }
  .top-nav__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 18px 20px;
    background-color: #fff;
    color: #81b3d2;
    position: relative; }
    .top-nav__burger:after {
      content: '';
      position: absolute;
      top: -8px;
      right: 0;
      left: 0;
      height: 8px;
      pointer-events: none;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%); }
    @media (min-width: 540px) {
      .top-nav__burger {
        display: none; } }
  .top-nav__close {
    color: #fff; }
    @media (min-width: 540px) {
      .top-nav__close {
        display: none; } }
  .top-nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #81b3d2;
    position: relative; }
    @media (min-width: 540px) {
      .top-nav__links {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        background: none; } }
  .top-nav__item {
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font: bold 18px/24px "PT Sans", sans-serif;
    text-align: center;
    padding: 17px 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
    @media (min-width: 540px) {
      .top-nav__item {
        width: 20%;
        color: #000;
        font: bold 14px/24px "PT Sans", sans-serif; } }
    .top-nav__item:not(:last-child):after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      border-top: 1px solid #678fa8;
      border-bottom: 1px solid #9ac2db; }
      @media (min-width: 540px) {
        .top-nav__item:not(:last-child):after {
          display: none; } }
    .top-nav__item:hover {
      color: #81b3d2; }
    .top-nav__item:visited {
      opacity: .3; }
  .top-nav__item-logo {
    width: 20%;
    padding: 0; }
  .top-nav__logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    z-index: 10; }
    @media (min-width: 540px) {
      .top-nav__logo {
        top: 0;
        bottom: auto;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); } }
  @media (min-width: 768px) {
    .top-nav__logo-mobile {
      display: none; } }
  .top-nav__logo-tablet {
    display: none; }
    @media (min-width: 768px) {
      .top-nav__logo-tablet {
        display: block; } }
    @media (min-width: 1200px) {
      .top-nav__logo-tablet {
        display: none; } }
  .top-nav__logo-desktop {
    display: none; }
    @media (min-width: 1200px) {
      .top-nav__logo-desktop {
        display: block; } }

.burger {
  width: 23px;
  height: 22px;
  border-top: 4px solid currentColor;
  border-bottom: 4px solid currentColor;
  position: relative; }
  .burger:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 4px solid currentColor;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.close {
  width: 23px;
  height: 22px;
  position: fixed;
  top: 0px;
  right: 0;
  -webkit-transform: translate(-20px, 50%);
          transform: translate(-20px, 50%);
  opacity: .25; }
  .close:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 4px solid currentColor;
    top: 50%;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg); }
  .close:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 4px solid currentColor;
    top: 50%;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg); }

.breakpoint {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: yellow;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  z-index: 999;
  -webkit-transform: translate(25%, 25%);
          transform: translate(25%, 25%);
  /*  @media (min-width: $tablet) {
    background-color: greenyellow;
  }*/ }
  @media (min-width: 540px) {
    .breakpoint {
      background-color: deeppink; } }
  @media (min-width: 1200px) {
    .breakpoint {
      background-color: aqua; } }

.main-picture {
  height: 390px;
  background: url(../img/back-mobile.jpg) no-repeat top center/cover;
  position: relative;
  resize: both;
  overflow: auto; }
  @media (min-width: 540px) {
    .main-picture {
      height: 518px; } }
  .main-picture__triangle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 57px;
    background: url(../img/intro-triangle.png) no-repeat center center; }
  .main-picture__first {
    width: 282px;
    height: 214px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    pointer-events: none;
    /*    width: 90%;
    @media (min-width: $mobile) {
      width: 65%;
    }
    @media (min-width: $desktop) {
      width: 40%;
    }*/ }
    @media (min-width: 540px) {
      .main-picture__first {
        width: 460px;
        height: 350px; } }
  .main-picture__second {
    width: 229px;
    height: 39px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    pointer-events: none; }
    @media (min-width: 540px) {
      .main-picture__second {
        width: 458px;
        height: 78px; } }
  .main-picture--form {
    background-position-y: bottom;
    height: 158px; }
    @media (min-width: 540px) {
      .main-picture--form {
        height: 290px; } }

.title-text {
  text-align: center;
  padding: 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .title-text__main {
    padding-bottom: 40px; }
    @media (min-width: 540px) {
      .title-text__main {
        padding-top: 5px; } }
  .title-text__marginal {
    text-transform: uppercase;
    font: normal 14px/26px "PT Sans", sans-serif;
    width: 80%; }
    @media (min-width: 540px) {
      .title-text__marginal {
        width: auto; } }

.text-photo {
  position: relative;
  resize: both;
  overflow: auto; }
  @media (min-width: 540px) {
    .text-photo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .text-photo__triangle {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 37px;
    background: url(../img/triangle2.png) no-repeat top center; }
    @media (min-width: 540px) {
      .text-photo__triangle {
        display: none; } }
  .text-photo__text-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.description-text {
  text-transform: uppercase;
  text-align: center;
  /*    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
  padding: 50px;
  font: normal 14px/21px "PT Sans", sans-serif; }
  @media (min-width: 540px) {
    .description-text {
      width: 33.3333%; } }
  .description-text__main {
    padding-bottom: 15px; }
  .description-text__numb {
    padding-bottom: 15px; }
  @media (min-width: 540px) {
    .description-text--order-tab-2 {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; } }
  .description-text--bg-primary {
    background-color: #81b3d2; }
  .description-text--bg-quaternary {
    background-color: #eeeeee; }
  .description-text--color-white {
    color: #fff; }

@media (min-width: 540px) {
  .description-photo {
    width: 67%; } }

.description-photo-content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  vertical-align: top; }

@media (min-width: 540px) {
  .description-photo--order--tab-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; } }

.proposal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px; }
  @media (min-width: 540px) {
    .proposal {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 0; } }
  .proposal__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (min-width: 540px) {
      .proposal__content {
        width: 33.3333%;
        height: 333px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 60px 0 0 0; } }
  .proposal-one {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
    .proposal-one-image {
      display: inline-block;
      color: #81b3d2; }
      .proposal-one-image .svg {
        width: 40px;
        height: 40px; }
        @media (min-width: 540px) {
          .proposal-one-image .svg {
            width: 70px;
            height: 70px; } }
    .proposal-one-content {
      text-transform: uppercase;
      margin: 10px 20px 20px 20px;
      font: normal 14px/21px "PT Sans", sans-serif; }
      @media (min-width: 540px) {
        .proposal-one-content {
          text-align: center;
          width: 65%; } }
      .proposal-one-content__title {
        padding-bottom: 30px; }
  .proposal-two {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    @media (min-width: 540px) {
      .proposal-two {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; } }
    .proposal-two-image {
      display: inline-block;
      color: #81b3d2; }
      .proposal-two-image .svg {
        width: 40px;
        height: 40px; }
        @media (min-width: 540px) {
          .proposal-two-image .svg {
            width: 70px;
            height: 70px; } }
    .proposal-two-content {
      text-transform: uppercase;
      margin: 10px 20px;
      font: normal 14px/21px "PT Sans", sans-serif; }
      @media (min-width: 540px) {
        .proposal-two-content {
          text-align: center; } }
  .proposal-three {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
    @media (min-width: 540px) {
      .proposal-three {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; } }
    .proposal-three-image {
      display: inline-block;
      color: #81b3d2; }
      .proposal-three-image .svg {
        width: 40px;
        height: 40px; }
        @media (min-width: 540px) {
          .proposal-three-image .svg {
            width: 70px;
            height: 70px; } }
    .proposal-three-content {
      text-transform: uppercase;
      margin: 10px 20px;
      font: normal 14px/21px "PT Sans", sans-serif; }
      @media (min-width: 540px) {
        .proposal-three-content {
          text-align: center; } }

.proposition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }
  @media (min-width: 540px) {
    .proposition {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .proposition__content {
    position: relative; }
    .proposition__content:not(:last-child):after {
      content: '';
      position: absolute;
      top: 0;
      right: 20px;
      bottom: 0;
      left: 20px;
      border-bottom: 1px solid #cccccc; }
      @media (min-width: 540px) {
        .proposition__content:not(:last-child):after {
          border-bottom: none; } }

/*.description-text {
    @media (min-width: $mobile)  {
      width: 33.333%;
    }
    background-color: $quaternary;
    color: $secondary;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    @include font(normal, 14px, 21px);
    &__main {
      padding-bottom: 15px;
    }
    &__numb{
      padding-bottom: 15px;
    }
    &__content {
      width: 80%;
    }
    //border-bottom: 1px solid red;
    position: relative;
    &:not(:last-child):after {
      content: '';
      position: absolute;
      right: 20px;
      bottom: 0;
      left: 20px;
      border: 1px solid $tertiary;
      @media (min-width: $mobile) {
        border: none;
      }
    }
  }*/
.question {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  margin-bottom: 50px; }
  @media (min-width: 540px) {
    .question {
      width: 40%;
      margin-bottom: 60px; } }
  .question__title {
    padding: 30px 0; }
  .question__description {
    font: normal 14px/24px "PT Sans", sans-serif;
    padding-bottom: 40px;
    text-transform: uppercase; }
  .question__button {
    padding: 15px 0;
    width: 100%;
    background-color: #81b3d2;
    color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
    outline: none; }
    @media (min-width: 540px) {
      .question__button {
        padding: 20px 0; } }
    .question__button:hover {
      background-color: #669ec0; }
    .question__button:visited {
      background-color: #669ec0;
      color: rgba(255, 255, 255, 0.2); }
    .question__button:disabled {
      background-color: #e5e5e5;
      cursor: auto; }

.g-map {
  height: 350px; }

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 540px) {
    .social-icons {
      margin-bottom: 0; } }
  .social-icons .icon {
    width: 48px;
    height: 48px;
    background-color: #81b3d2;
    color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
    outline: none; }
    .social-icons .icon svg {
      width: 20px;
      height: 20px; }
    .social-icons .icon:not(:last-child) {
      margin-right: 6px; }
    .social-icons .icon:hover {
      background-color: #669ec0; }
    .social-icons .icon:visited {
      background-color: #669ec0;
      color: rgba(255, 255, 255, 0.2); }
  .social-icons--indent {
    margin-bottom: 30px; }
    @media (min-width: 540px) {
      .social-icons--indent {
        margin-bottom: 0; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  background-color: #f2f2f2; }
  @media (min-width: 540px) {
    .footer {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      padding: 65px 0; } }
  @media (min-width: 1200px) {
    .footer {
      padding: 70px 0; } }
  .footer__text {
    margin-bottom: 35px; }
    @media (min-width: 540px) {
      .footer__text {
        margin-bottom: 0; } }
  .footer .icon {
    width: 48px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer__made-by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    font: bold 14px/26px "PT Sans", sans-serif; }
    .footer__made-by .icon svg {
      width: 30px;
      height: 30px; }
  .footer__logo {
    color: #000;
    margin-left: 10px;
    -webkit-transition: color .2s ease;
    transition: color .2s ease; }
    .footer__logo:hover {
      color: #81b3d2; }
    .footer__logo:visited {
      color: #cccccc; }

h2 {
  text-transform: uppercase;
  font: bold 18px/26px "PT Sans", sans-serif; }
  @media (min-width: 540px) {
    h2 {
      font: bold 30px/37px "PT Sans", sans-serif; } }

h3, .h3 {
  text-transform: uppercase;
  font: bold 18px/26px "PT Sans", sans-serif; }
  @media (min-width: 540px) {
    h3, .h3 {
      font: bold 21px/26px "PT Sans", sans-serif; } }

h4 {
  text-transform: uppercase;
  font: bold 14px/24px "PT Sans", sans-serif; }

h5, .h5 {
  font: bold 18px/26px "PT Sans", sans-serif; }

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px auto;
  width: 90%; }
  @media (min-width: 768px) {
    .photo {
      margin: 75px auto;
      width: 85%; } }
  @media (min-width: 1200px) {
    .photo {
      margin: 110px auto;
      width: 100%; } }
  .photo-head {
    text-align: center;
    position: relative;
    padding-bottom: 35px !important; }
    @media (min-width: 768px) {
      .photo-head {
        padding: 0 100px; } }
    .photo-head:after {
      content: '';
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #cccccc; }
    .photo-head__title {
      padding-bottom: 40px; }
    .photo-head__text {
      text-transform: uppercase; }
  .photo-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .photo-picture {
    position: relative;
    padding: 20px 0; }
    @media (min-width: 540px) {
      .photo-picture {
        padding: 0; } }
    .photo-picture__img {
      width: 100%;
      height: 280px;
      -o-object-fit: cover;
         object-fit: cover;
      vertical-align: top;
      pointer-events: none; }
      @media (min-width: 540px) {
        .photo-picture__img {
          height: 267px; } }
    @media (min-width: 540px) {
      .photo-picture:not(:nth-child(1)) {
        width: 50%; } }
    @media (min-width: 1200px) {
      .photo-picture:not(:nth-child(1)) {
        width: 33.333%; } }
    @media (min-width: 540px) {
      .photo-picture--big .photo-picture__img {
        width: 100%;
        height: 400px; } }
    .photo-picture:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc; }
      @media (min-width: 540px) {
        .photo-picture:before {
          border: none; } }

.picture-description {
  padding-top: 15px; }
  @media (min-width: 540px) {
    .picture-description {
      padding: 20px;
      background-color: #eeeeee; } }
  @media (min-width: 768px) {
    .picture-description {
      padding: 0; } }
  @media (min-width: 540px) {
    .picture-description {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 20px; } }
  @media (min-width: 1200px) {
    .picture-description {
      position: absolute;
      content: '';
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      padding: 15px; }
      .picture-description .picture-description__like {
        color: #fff; } }
  .picture-description__content {
    padding-bottom: 10px; }
    @media (min-width: 540px) {
      .picture-description__content {
        padding-bottom: 0; } }
  .picture-description__like {
    margin-right: 15px;
    color: rgba(0, 0, 0, 0.3); }
    .picture-description__like .svg {
      width: 23px;
      height: 23px; }
  .picture-description__like-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .video-head {
    text-align: center;
    position: relative; }
    @media (min-width: 768px) {
      .video-head {
        padding: 0 100px; } }
    .video-head__title {
      padding-bottom: 40px; }
    .video-head__text {
      padding-bottom: 40px; }
      @media (min-width: 540px) {
        .video-head__text {
          padding-bottom: 80px; } }
  .video-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 100%; }
    @media (min-width: 540px) {
      .video-div {
        width: 80%; } }
    @media (min-width: 1200px) {
      .video-div {
        width: 60%; } }
    .video-div__img {
      pointer-events: none;
      width: 100%; }

.player__played {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6); }
  @media (min-width: 540px) {
    .player__played {
      left: 0;
      right: 0;
      height: 93px; } }

.player__mobile {
  position: absolute;
  top: 100%;
  right: 20px;
  left: 20px;
  height: 66px;
  background-color: #f2f2f2; }
  @media (min-width: 540px) {
    .player__mobile {
      display: none; } }

.player-mobile__replay {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #5c6870; }
  .player-mobile__replay .svg {
    width: 20px;
    height: 20px; }
    @media (min-width: 540px) {
      .player-mobile__replay .svg {
        display: none; } }

.player-mobile__subtitles {
  position: absolute;
  top: 50%;
  right: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #5c6870; }
  .player-mobile__subtitles .svg {
    width: 30px;
    height: 20px; }
    @media (min-width: 540px) {
      .player-mobile__subtitles .svg {
        display: none; } }

.player-mobile__fullscreen {
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #5c6870; }
  .player-mobile__fullscreen .svg {
    width: 20px;
    height: 20px; }
    @media (min-width: 540px) {
      .player-mobile__fullscreen .svg {
        display: none; } }

.player__line {
  position: absolute;
  right: 20px;
  top: 50%;
  left: 20px;
  height: 4px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 10;
  color: #fff; }
  @media (min-width: 540px) {
    .player__line {
      left: 15%;
      right: 25%; } }
  .player__line .svg {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 20%;
    width: 10px;
    height: 10px;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px); }

.player__replay {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff; }
  .player__replay .svg {
    display: none; }
    @media (min-width: 540px) {
      .player__replay .svg {
        display: inline;
        width: 20px;
        height: 20px; } }

.player__subtitles {
  position: absolute;
  top: 50%;
  right: 15%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff; }
  .player__subtitles .svg {
    display: none; }
    @media (min-width: 540px) {
      .player__subtitles .svg {
        display: inline;
        width: 30px;
        height: 20px; } }

.player__fullscreen {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff; }
  .player__fullscreen .svg {
    display: none; }
    @media (min-width: 540px) {
      .player__fullscreen .svg {
        display: inline;
        width: 20px;
        height: 20px; } }

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .review-head {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 90%; }
    .review-head__title {
      padding-bottom: 40px; }
    @media (min-width: 768px) {
      .review-head {
        margin: 75px 0;
        width: 85%; } }
    @media (min-width: 1200px) {
      .review-head {
        margin-top: 110px;
        margin-bottom: 65px;
        width: 42%; } }
  .review-ident {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .review-ident__title {
      padding-bottom: 25px; }
  .review-nik {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    margin-bottom: 20px; }
    .review-nik__input {
      font-weight: bold;
      width: 100%;
      margin-left: 15px;
      padding: 20px;
      background-color: #f2f2f2; }
      .review-nik__input::-webkit-input-placeholder {
        color: #000; }
      .review-nik__input::-moz-placeholder {
        color: #000; }
      .review-nik__input:-ms-input-placeholder {
        color: #000; }
      .review-nik__input::-ms-input-placeholder {
        color: #000; }
      .review-nik__input::placeholder {
        color: #000; }
  .review-info {
    width: 100%;
    margin: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .review-info__title {
      padding-left: 20px;
      padding-bottom: 25px; }
    .review-info__name {
      padding-left: 20px;
      padding-bottom: 10px;
      text-transform: uppercase; }
    .review-info__content {
      width: 100%;
      padding: 20px;
      background-color: #f2f2f2; }
      .review-info__content::-webkit-input-placeholder {
        font: bold 18px/24px "PT Sans", sans-serif;
        color: #000; }
      .review-info__content::-moz-placeholder {
        font: bold 18px/24px "PT Sans", sans-serif;
        color: #000; }
      .review-info__content:-ms-input-placeholder {
        font: bold 18px/24px "PT Sans", sans-serif;
        color: #000; }
      .review-info__content::-ms-input-placeholder {
        font: bold 18px/24px "PT Sans", sans-serif;
        color: #000; }
      .review-info__content::placeholder {
        font: bold 18px/24px "PT Sans", sans-serif;
        color: #000; }
    .review-info__input {
      margin-bottom: 20px;
      position: relative;
      width: 90%; }
      @media (min-width: 540px) {
        .review-info__input {
          width: 85%; } }
    .review-info__icon {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 55px;
      background-color: #e6e6e6;
      color: #000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .review-info__icon .svg {
        width: 18px;
        height: 18px; }
  .review-choose {
    width: 90%; }
    .review-choose__title {
      padding-bottom: 20px; }
    .review-choose__field--indents10 {
      margin: 10px; }
  .review-select {
    width: 90%; }
    .review-select__title {
      padding-bottom: 20px; }
    .review-select__field--indents10 {
      margin: 10px; }

.sedona-radiobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .sedona-radiobox__radioed {
    width: 56px;
    height: 56px;
    background: #f2f2f2;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease; }
    .sedona-radiobox__radioed:hover {
      background: #e5e5e5; }
    .sedona-radiobox__radioed:after {
      content: "";
      background: #000;
      width: 42%;
      height: 42%;
      border-radius: 50%;
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transition: -webkit-transform 0.2s ease;
      transition: -webkit-transform 0.2s ease;
      transition: transform 0.2s ease;
      transition: transform 0.2s ease, -webkit-transform 0.2s ease; }
  .sedona-radiobox__input:checked ~ .sedona-radiobox__radioed:after {
    -webkit-transform: scale(1);
            transform: scale(1); }
  .sedona-radiobox__text {
    font-weight: bold; }
    .sedona-radiobox__text--ml25 {
      margin-left: 25px; }

.sedona-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .sedona-checkbox__checked {
    width: 56px;
    height: 56px;
    border-radius: 5px;
    background: #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease; }
    .sedona-checkbox__checked:hover {
      background: #e5e5e5; }
    .sedona-checkbox__checked .svg {
      width: 40px;
      height: 40px;
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transition: -webkit-transform 0.2s ease;
      transition: -webkit-transform 0.2s ease;
      transition: transform 0.2s ease;
      transition: transform 0.2s ease, -webkit-transform 0.2s ease; }
  .sedona-checkbox__input:checked ~ .sedona-checkbox__checked .svg {
    -webkit-transform: scale(1);
            transform: scale(1); }
  .sedona-checkbox__text {
    font-weight: bold; }
    .sedona-checkbox__text--ml25 {
      margin-left: 25px; }

.form {
  display: none; }
  .form__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .form__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .form-head {
    height: auto;
    text-align: center;
    margin: 0 auto;
    width: 90%; }
    .form-head__title {
      padding-bottom: 30px; }
    .form-head__text {
      line-height: 22px;
      text-transform: uppercase; }
    @media (min-width: 768px) {
      .form-head {
        width: 60%; } }
    @media (min-width: 1200px) {
      .form-head {
        width: 45%; } }
    .form-head--indents {
      padding: 40px 0 20px 0; }
      @media (min-width: 768px) {
        .form-head--indents {
          padding: 65px 0 35px 0; } }
      @media (min-width: 1200px) {
        .form-head--indents {
          padding-top: 105px;
          width: 40%; } }
  .form-ident {
    width: 100%;
    text-align: center; }
    .form-ident__title {
      padding-bottom: 15px; }
      @media (min-width: 540px) {
        .form-ident__title {
          margin-left: 15px;
          padding-bottom: 50px; } }
      .form-ident__title--indents {
        padding: 20px; }
        @media (min-width: 540px) {
          .form-ident__title--indents {
            padding-left: 40px;
            padding-bottom: 50px; } }
        @media (min-width: 1200px) {
          .form-ident__title--indents {
            padding: 0; } }
    @media (min-width: 540px) {
      .form-ident {
        text-align: start; } }
    @media (min-width: 768px) {
      .form-ident--half {
        width: 50%; } }
    .form-ident--indents {
      padding: 20px; }
      @media (min-width: 540px) {
        .form-ident--indents {
          padding: 15px 45px; } }
      @media (min-width: 1200px) {
        .form-ident--indents {
          padding: 0 65px; } }
  .form-nik {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase; }
    .form-nik__input {
      font-weight: bold;
      width: 100%;
      margin-left: 15px;
      padding: 15px;
      background-color: #f2f2f2;
      -webkit-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease; }
      .form-nik__input::-webkit-input-placeholder {
        color: #000; }
      .form-nik__input::-moz-placeholder {
        color: #000; }
      .form-nik__input:-ms-input-placeholder {
        color: #000; }
      .form-nik__input::-ms-input-placeholder {
        color: #000; }
      .form-nik__input::placeholder {
        color: #000; }
      .form-nik__input:hover {
        background-color: #e5e5e5; }
    .form-nik--indents {
      margin-bottom: 20px; }
      @media (min-width: 540px) {
        .form-nik--indents {
          margin-bottom: 18px; } }
      @media (min-width: 1200px) {
        .form-nik--indents {
          margin-bottom: 20px; } }
      .form-nik--indents:last-child {
        margin-bottom: 0; }
  .form-info {
    position: relative;
    width: 100%; }
    @media (min-width: 1200px) {
      .form-info__obertka {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .form-info__block {
      width: 100%; }
      @media (min-width: 1200px) {
        .form-info__block {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; } }
      .form-info__block--indents {
        margin-bottom: 12px; }
        @media (min-width: 540px) {
          .form-info__block--indents {
            margin-bottom: 27px; } }
        @media (min-width: 1200px) {
          .form-info__block--indents {
            margin-bottom: 0; }
            .form-info__block--indents:last-child {
              margin-bottom: 0; } }
      .form-info__block--indents2 {
        margin-bottom: 0; }
    .form-info__title {
      margin: 0 auto;
      text-align: center; }
      .form-info__title--indents {
        padding-bottom: 20px; }
        @media (min-width: 1200px) {
          .form-info__title--indents {
            padding-bottom: 73px; } }
    .form-info__name {
      padding-left: 20px;
      white-space: nowrap;
      text-transform: uppercase;
      font: normal 14px/26px "PT Sans", sans-serif; }
      @media (min-width: 1200px) {
        .form-info__name {
          padding-left: 0; } }
      .form-info__name--indents {
        padding-bottom: 8px; }
        @media (min-width: 1200px) {
          .form-info__name--indents {
            padding-bottom: 0;
            padding-right: 15px; } }
      @media (min-width: 1200px) {
        .form-info__name--otstup {
          margin-left: 80px; } }
    .form-info__content {
      position: relative; }
      @media (min-width: 1200px) {
        .form-info__content {
          width: 100%; } }
    .form-info__input {
      width: 100%;
      padding: 20px;
      background-color: #f2f2f2;
      -webkit-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease; }
      .form-info__input::-webkit-input-placeholder {
        font: bold 18px/24px "PT Sans", sans-serif;
        color: #000; }
      .form-info__input::-moz-placeholder {
        font: bold 18px/24px "PT Sans", sans-serif;
        color: #000; }
      .form-info__input:-ms-input-placeholder {
        font: bold 18px/24px "PT Sans", sans-serif;
        color: #000; }
      .form-info__input::-ms-input-placeholder {
        font: bold 18px/24px "PT Sans", sans-serif;
        color: #000; }
      .form-info__input::placeholder {
        font: bold 18px/24px "PT Sans", sans-serif;
        color: #000; }
      .form-info__input:hover {
        background-color: #e5e5e5; }
    .form-info__icon {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 55px;
      background-color: #e6e6e6;
      color: #000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .form-info__icon .svg {
        width: 18px;
        height: 18px; }
    .form-info--border {
      border-top: 1px solid #e5e5e5; }
      @media (min-width: 540px) {
        .form-info--border {
          border-top: none; } }
    .form-info--indents {
      padding: 20px; }
      @media (min-width: 540px) {
        .form-info--indents {
          padding: 25px 56px; } }
      @media (min-width: 1200px) {
        .form-info--indents {
          padding: 0 55px 20px 55px; } }
  .form-choose {
    width: 100%; }
    .form-choose__title {
      text-align: center; }
      .form-choose__title--indents {
        padding-bottom: 10px; }
        @media (min-width: 540px) {
          .form-choose__title--indents {
            padding-bottom: 50px; } }
    .form-choose__field--indents {
      margin: 10px 0 5px 0; }
      @media (min-width: 540px) {
        .form-choose__field--indents {
          margin: 12px 0 10px 7px; } }
    .form-choose--border {
      border-top: 1px solid #e5e5e5; }
      @media (min-width: 540px) {
        .form-choose--border {
          border-top: none; } }
    .form-choose--indents {
      padding: 20px; }
  @media (min-width: 1200px) {
    .form__cover-desktop {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  @media (min-width: 768px) {
    .form__cover-tablet {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  @media (min-width: 1200px) {
    .form__cover-tablet {
      width: 50%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .form-select {
    width: 100%; }
    .form-select__title {
      margin: 0 auto;
      text-align: center; }
      .form-select__title--indents {
        padding-bottom: 5px; }
        @media (min-width: 540px) {
          .form-select__title--indents {
            padding-bottom: 30px; } }
        @media (min-width: 540px) {
          .form-select__title--indents {
            padding-bottom: 40px; } }
    .form-select__field {
      width: 250px; }
      @media (min-width: 1200px) {
        .form-select__field {
          width: 50%; } }
      .form-select__field--indents {
        margin: 10px 0; }
        @media (min-width: 768px) {
          .form-select__field--indents {
            margin-top: 0;
            margin-bottom: 25px; } }
        @media (min-width: 1200px) {
          .form-select__field--indents {
            margin: 0; } }
      @media (max-width: 540px) {
        .form-select__field--temp-mb-0 {
          margin-bottom: 0; } }
    .form-select--border {
      border-top: 1px solid #e5e5e5; }
      @media (min-width: 540px) {
        .form-select--border {
          border-top: none; } }
    .form-select--indents {
      padding: 20px 15px; }
  .form-emotion {
    width: 100%; }
    @media (min-width: 768px) {
      .form-emotion {
        padding: 30px 60px; } }
    @media (min-width: 1200px) {
      .form-emotion {
        padding: 38px 120px 30px 120px; } }
    .form-emotion__title {
      margin: 0 auto;
      text-align: center; }
      .form-emotion__title--indent {
        padding-bottom: 20px; }
        @media (min-width: 768px) {
          .form-emotion__title--indent {
            padding-bottom: 60px; } }
    .form-emotion__field--indents {
      margin: 10px; }
    .form-emotion__textarea {
      height: 160px;
      width: 100%;
      padding: 15px 20px;
      background-color: #f2f2f2;
      -webkit-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease; }
      .form-emotion__textarea::-webkit-input-placeholder {
        font: bold 18px/24px "PT Sans", sans-serif;
        color: #000; }
      .form-emotion__textarea::-moz-placeholder {
        font: bold 18px/24px "PT Sans", sans-serif;
        color: #000; }
      .form-emotion__textarea:-ms-input-placeholder {
        font: bold 18px/24px "PT Sans", sans-serif;
        color: #000; }
      .form-emotion__textarea::-ms-input-placeholder {
        font: bold 18px/24px "PT Sans", sans-serif;
        color: #000; }
      .form-emotion__textarea::placeholder {
        font: bold 18px/24px "PT Sans", sans-serif;
        color: #000; }
      .form-emotion__textarea:hover {
        background-color: #e5e5e5; }
      .form-emotion__textarea--indents {
        margin-bottom: 50px; }
        @media (min-width: 540px) {
          .form-emotion__textarea--indents {
            margin-bottom: 60px; } }
    .form-emotion--border {
      border-top: 1px solid #e5e5e5; }
      @media (min-width: 540px) {
        .form-emotion--border {
          border-top: none; } }
    .form-emotion--indents {
      padding: 20px; }
      @media (min-width: 540px) {
        .form-emotion--indents {
          padding: 30px 50px; } }
      @media (min-width: 1200px) {
        .form-emotion--indents {
          padding: 60px 120px; } }
    .form-emotion__button {
      padding: 15px 0;
      width: 100%;
      letter-spacing: 2px;
      text-align: center;
      background-color: #81b3d2;
      color: #fff;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      cursor: pointer;
      outline: none; }
      @media (min-width: 540px) {
        .form-emotion__button {
          line-height: normal;
          padding: 14px 0;
          width: 50%; } }
      .form-emotion__button:hover {
        background-color: #669ec0; }
      .form-emotion__button:visited {
        background-color: #669ec0;
        color: rgba(255, 255, 255, 0.2); }
      .form-emotion__button:disabled {
        background-color: #e5e5e5;
        cursor: auto; }
    .form-emotion__button {
      padding: 15px 0;
      width: 100%;
      letter-spacing: 2px;
      text-align: center;
      background-color: #81b3d2;
      color: #fff;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      cursor: pointer;
      outline: none; }
      @media (min-width: 540px) {
        .form-emotion__button {
          line-height: normal;
          padding: 14px 0;
          width: 50%; } }
      .form-emotion__button:hover {
        background-color: #669ec0; }
      .form-emotion__button:visited {
        background-color: #669ec0;
        color: rgba(255, 255, 255, 0.2); }
      .form-emotion__button:disabled {
        background-color: #e5e5e5;
        cursor: auto; }
  .form-unnamed {
    height: auto;
    padding: 32px 20px; }
    @media (min-width: 768px) {
      .form-unnamed {
        padding: 30px 60px; } }
    @media (min-width: 1200px) {
      .form-unnamed {
        padding: 30px 120px; } }
    .form-unnamed__wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .form-unnamed__mark {
      display: none;
      text-transform: uppercase; }
      @media (min-width: 540px) {
        .form-unnamed__mark {
          display: block; } }

.success {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 320px;
  -webkit-transition: width 0.2s easy;
  transition: width 0.2s easy;
  z-index: 50; }
  @media (min-width: 540px) {
    .success {
      width: 640px; } }
  .success__title {
    padding-top: 50px;
    padding-bottom: 40px; }
    @media (min-width: 540px) {
      .success__title {
        padding-top: 65px; } }
  .success__text {
    text-transform: uppercase;
    padding-bottom: 35px; }
    @media (min-width: 540px) {
      .success__text {
        padding: 0 110px 35px 110px; } }
    @media (min-width: 1200px) {
      .success__text {
        padding: 0 140px 35px 140px; } }
  .success__block {
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .success__btn {
    text-align: center;
    background-color: #81b3d2;
    color: #fff;
    padding: 20px 0;
    width: 100%; }
    @media (min-width: 540px) {
      .success__btn {
        width: 70%; } }

.failure {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 320px;
  -webkit-transition: width 0.2s easy;
  transition: width 0.2s easy;
  padding: 45px 65px;
  z-index: 50; }
  @media (min-width: 540px) {
    .failure {
      width: 400px; } }
  .failure__title {
    padding-bottom: 40px; }
  .failure__text {
    text-transform: uppercase; }
    @media (min-width: 540px) {
      .failure__text {
        padding-bottom: 30px; } }
  .failure__btn {
    text-align: center;
    background-color: #81b3d2;
    color: #fff;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%; }
    @media (min-width: 540px) {
      .failure__btn {
        width: 70%; } }

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.grid__items {
  border: 1px solid red;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 1px solid white; }

@media (min-width: 540px) {
  .grid__items:not(:first-child) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .grid__items:nth-child(2) {
    width: 50%; }
  .grid__items:nth-child(3) {
    width: 100%; }
    .grid__items:nth-child(3) .grid__item {
      padding: 0; }
  .grid__items:nth-child(4) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 50%; }
  .grid__items:nth-child(5) {
    width: 100%; }
    .grid__items:nth-child(5) .grid__item {
      width: 25%; } }

@media (min-width: 1200px) {
  .grid__items:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .grid__items:nth-child(3) .grid__item {
      width: 50%; } }

.grid__items:nth-child(3) .grid__item {
  padding: 0; }
