* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: $body-bg;
  min-width: 250px;
  a {
    text-decoration: none;
    color: $secondary;
  }
  input {
    box-shadow: none;
    resize: none;
    outline: none;
    border: none;
  }
  textarea {
    box-shadow: none;
    resize: none;
    outline: none;
    border: none;
  }
}

.h-400 {
  height: 400px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}