* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: $body-bg;
  min-width: 300px;
  a {
    text-decoration: none;
    color: $secondary;
  }
  input {
    box-shadow: none;
    resize: none;
    outline: none;
    border: none;
  }
  textarea {
    box-shadow: none;
    resize: none;
    outline: none;
    border: none;
  }
}

.h-400 {
  height: 400px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.image-pos-mobile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  //transform: translate(-50%, 11%);
  //display: none;
  opacity: .3;
  z-index: 11;
  pointer-events: none;
  top: 13px;
  @media (min-width: $mobile) {
    display: none;
  }
}
.image-pos-tablet {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  //transform: translate(-50%, 11%);
  display: none;
  opacity: .3;
  z-index: 11;
  pointer-events: none;
  @media (min-width: $mobile) {
    display: block;
  }
  @media (min-width: $desktop) {
    display: none;
  }
}
.image-pos-desktop {
  position: absolute;
  left: 50%;
  //transform: translateX(-50%);
  transform: translate(-50%, -0.4%);
  display: none;
  opacity: .3;
  z-index: 11;
  pointer-events: none;
  @media (min-width: $desktop) {
    display: block;
  }
}

