.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;
  @media (min-width: $mobile) {
    flex-direction: row;
    justify-content: space-around;
  }
  &__text {
    margin-bottom: 40px;
    @media (min-width: $mobile) {
      margin-bottom: 0;
    }
  }
 .icon {
   @include square-size(48px);
   display: flex;
   align-items: center;
   justify-content: center;
 }
  &__made-by {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    @include font(bold, 14px, 26px);
    .icon {
      svg {
        @include square-size(30px);
      }
    }
  }
  &__logo {
    color: $secondary;
    margin-left: 10px;
    transition: color .2s ease;
    &:hover {
      color: $primary;
    }
    &:visited {
      color: $tertiary;
    }
  }
}