.form {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    order: 2;
    //border: 1px solid;
  }

  &-head {
    height: auto;
    text-align: center;
    //background-color: rgba(222,9,9,.1);
    &__title {
      padding-bottom: 40px;
    }
    &__text {
      text-transform: uppercase;
    }
    padding: 45px 25px 20px 25px;
    @media (min-width: $tablet) {
      padding: 75px 110px 35px 110px;
      order: 0;
    }
    @media (min-width: $desktop) {
      padding: 110px 380px 35px 380px;
    }
  }

  &-ident {
    height: auto;
    display: flex;
    //background-color: rgba(9,222,9,.1);
    padding: 20px;
    @media (min-width: $tablet) {
      padding: 30px 60px;
    }
    @media (min-width: $desktop) {
      padding: 30px 120px;
    }
    flex-direction: column;
    align-items: center;
    &__title {
      padding-bottom: 25px;
    }
    &--half {
      @media (min-width: $tablet) {
        width: 50%;
      }
    }
    &--border {
      border-top: 1px solid $quinary;
      @media (min-width: $mobile) {
        border-top: none;
        border-left: 1px solid $quinary;
      }
    }
  }

  &-nik {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    //margin-bottom: 20px;
    &__input {
      font-weight: bold;
      width: 100%;
      margin-left: 15px;
      padding: 20px;
      background-color: $body-bg;
      &::placeholder {
        color: $secondary;
        @include input-placeholder;
      }
    }
    &--indents10 {
      margin: 10px 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-info {
    position: relative;
    height: auto;
    width: 100%;
    //background-color: rgba(	255, 140, 0,.1);
    padding: 20px;
    @media (min-width: $tablet) {
      padding: 30px 60px;
    }
    @media (min-width: $desktop) {
      padding: 30px 120px;
    }
    &__obertka {
      @media (min-width: $desktop) {
        display: flex;
        align-items: center;
      }
    }
    &__block {
      @media (min-width: $desktop) {
        display: flex;
        align-items: center;
        width: 50%;
      }
      &--indents20 {
        margin-bottom: 20px;
        @media (min-width: $desktop) {
          margin-bottom: 0;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    &__title {
      padding-bottom: 20px;
      margin: 0 auto;
      text-align: center;
    }
    &__name {
      padding-left: 20px;
      white-space: nowrap;
      text-transform: uppercase;
      @media (min-width: $desktop) {
        padding-left: 0;
      }
      &--indents10 {
        padding-bottom: 15px;
        @media (min-width: $desktop) {
          padding-bottom: 0;
          padding-right: 15px;
        }
      }
      &--otstup {
        @media (min-width: $desktop) {
          margin-left: 80px;
        }
      }
    }
    &__content {
      width: 100%;
      padding: 20px;
      background-color: $body-bg;
      &::placeholder {
        @include font(bold, 18px, 24px);
        color: $secondary;
        @include input-placeholder;
      }
    }
    &__input {
      //margin-left: 15px;
      //margin-bottom: 20px;
      position: relative;
      @media (min-width: $desktop) {
        width: 100%;
      }
    }
    &__icon {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 55px;
      background-color: #e6e6e6;
      color: $secondary;
      display: flex;
      align-items: center;
      justify-content: center;
      .svg {
        @include square-size(18px);
      }
    }
    &--border {
      border-top: 1px solid $quinary;
      @media (min-width: $mobile) {
        border-top: none;
      }
    }
  }

  &-choose {
    height: auto;
    //background-color: rgba(0,0,205,.1);
    padding: 20px;
    @media (min-width: $tablet) {
      padding: 30px 50px;
      order: 1;
    }
    @media (min-width: $desktop) {
      padding: 30px 120px;
    }
    &--half {
      @media (min-width: $tablet) {
        width: 50%;
      }
    }
    &__title {
      padding-bottom: 20px;
      margin: 0 auto;
      text-align: center;
    }
    &__field {
      &--indents10 {
        margin: 10px 0;
        &:last-child {
         margin-bottom: 0;
        }
      }
    }
    &--border {
      border-top: 1px solid $quinary;
      @media (min-width: $mobile) {
        border-top: none;
      }
    }
  }

&__cover {
  &-desktop {
    @media (min-width: $desktop) {
      display: flex;
      justify-content: space-around;
    }
  }
  &-tablet {
    @media (min-width: $tablet) {
      display: flex;
      justify-content: space-around;
    }
    @media (min-width: $desktop) {
      width: 50%;
      justify-content: space-between;
    }
  }
}

  &-select {
    height: auto;
    //background-color: rgba(220, 20, 60,.1);
    padding: 20px;
    @media (min-width: $tablet) {
      padding: 30px 60px;
    }
    @media (min-width: $desktop) {
      padding: 30px 120px;
    }
    &__title {
      padding-bottom: 20px;
      margin: 0 auto;
      text-align: center;
    }
    &__field {
      width: 200px;
      @media (min-width: $desktop) {
        width: 50%;
      }
      &--indents10 {
        margin: 10px 0;
        @media (min-width: $desktop) {
          margin: 0;
        }
      }
    }
    &--border {
      border-top: 1px solid $quinary;
      @media (min-width: $mobile) {
        border-top: none;
      }
    }
  }

  &-emotion {
    height: auto;
    //background-color: rgba(	50, 205, 50,.1);
    padding: 20px;
    @media (min-width: $tablet) {
      padding: 30px 60px;
    }
    @media (min-width: $desktop) {
      padding: 30px 120px;
    }
    &__title {
      padding-bottom: 20px;
      margin: 0 auto;
      text-align: center;
    }
    &__field {
      &--indents10 {
        margin: 10px;
      }
    }
    &__textarea {
      height: 160px;
      width: 100%;
      padding: 20px;
      background-color: $body-bg;
      //border: none;
      &::placeholder {
        @include font(bold, 18px, 24px);
        color: $secondary;
        @include input-placeholder;
      }
    }
    &--border {
      border-top: 1px solid $quinary;
      @media (min-width: $mobile) {
        border-top: none;
      }
    }
  }

  &-unnamed {
    height: auto;
    //background-color: rgba(	64, 224, 208,.1);
    padding: 20px;
    @media (min-width: $tablet) {
      padding: 30px 60px;
    }
    @media (min-width: $desktop) {
      padding: 30px 120px;
    }
    &__button {
      padding: 15px 0;
      width: 100%;
      @media (min-width: $mobile) {
        padding: 20px 0;
        width: 50%;
      }
      text-align: center;
      background-color: $primary;
      color: $white;
      transition: all .2s ease;
      cursor: pointer;
      outline: none;
      &:hover {
        background-color: $primary-hover;
      }
      &:visited {
        background-color: $primary-hover;
        color: rgba($white, .2);
      }
      &:disabled {
        background-color: $primary-disable;
        cursor: auto;
      }
    }
    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__mark {
      display: none;
      text-transform: uppercase;
      @media (min-width: $mobile) {
        display: block;
      }
    }
  }

}
