.grid {
  max-width: $content-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.grid__items {
  background-color: #81b3d2;
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.grid__item {
  display: flex;
  align-items: center;
  padding: 25px;
  width: 100%;
  background-color: lightgreen;
  border: 1px solid white;
}

@media (min-width: $mobile) {
  .grid__items:not(:first-child) {
    order: 2;
  }
  .grid__items:nth-child(2) {
    width: 50%;
  }
  .grid__items:nth-child(3) {
    width: 100%;
  }
  .grid__items:nth-child(4) {
    order: 1;
    width: 50%;
  }
  .grid__items:nth-child(5) {
    width: 100%;
    .grid__item {
      width: 25%;
    }
  }
}

@media (min-width: $desktop) {
  .grid__items:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    .grid__item {
      width: 50%;
    }
  }
}
