.main-picture {
  height: 390px;
  background: url(../img/back-mobile.jpg) no-repeat top center/cover;
  position: relative;
  resize: both;
  overflow: auto;
  @media (min-width: $mobile) {
    height: 518px;
  }
  &__triangle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 57px;
    background: url(../img/intro-triangle.png) no-repeat center center;
  }
  &__first {
    width: 282px;
    height: 214px;
    @media (min-width: $mobile) {
      width: 460px;
      height: 350px;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
/*    width: 90%;
    @media (min-width: $mobile) {
      width: 65%;
    }
    @media (min-width: $desktop) {
      width: 40%;
    }*/
  }
  &__second {
    width: 229px;
    height: 39px;
    @media (min-width: $mobile) {
      width: 458px;
      height: 78px;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-67%);
    pointer-events: none;
  }
  &--form {
    background-position-y: bottom;
    height: 160px;
    margin-bottom: 40px;
    @media (min-width: $mobile) {
      height: 290px;
      margin-bottom: 65px;
    }
    @media (min-width: $desktop) {
      height: 300px;
      margin-bottom: 105px;
    }
  }
}