.main-picture {
  height: 390px;
  background: url(/img/back-mobile.jpg) no-repeat top center/cover;
  position: relative;
  @media (min-width: $mobile) {
    height: 518px;
  }
  &__first {
    width: 90%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    @media (min-width: $mobile) {
      width: 65%;
    }
    @media (min-width: $desktop) {
      width: 40%;
    }
  }
  &__triangle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}