.sedona-checkbox {
  display: flex;
  align-items: center;
  user-select: none;
  &__checked {
    @extend .sedona-buttons;
    border-radius: 5px;
    &:active {
      background-color: $btn-dis;
      color: $btn-in-dis;
    }
    .svg {
      @include square-size(40px);
      transform: scale(0);
      transition: transform $transition-time ease;
    }
  }
  &__input:checked ~ .sedona-checkbox__checked {
    .svg {
      transform: scale(1);
    }
  }
  &__text {
    font-weight: bold;
    @extend .text-truncate;
    &--ml25 {
      margin-left: 25px;
    }
  }

}