.sedona-radiobox {
  display: flex;
  align-items: center;
  user-select: none;
  &__radioed {
    @extend .sedona-buttons;
    border-radius: 50%;
    &:after {
      content: "";
      background: $secondary;
      width: 42%;
      height: 42%;
      border-radius: 50%;
      transform: scale(0);
      transition: all $transition-time ease;
    }
    &:active {
      background-color: $btn-dis;
      &:after {
        background-color: $btn-in-dis;
      }
    }
  }
  &__input:checked ~ .sedona-radiobox__radioed {
    &:after {
      transform: scale(1);
    }
  }
  &__text {
    font-weight: bold;
    &--ml20 {
      margin-left: 20px;
    }
  }
}