.title-text {
  text-transform: uppercase;
  text-align: center;
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__main {
    font-weight: bold;
    @include font(bold, 18px, 26px);
    padding-bottom: 40px;
    @media (min-width: $mobile) {
      @include font(bold, 21px, 26px);
      padding-top: 5px;
    }
  }
  &__marginal {
    @include font(normal, 14px, 26px);
    width: 80%;
    @media (min-width: $mobile) {
      width: auto;
    }
  }
}