// Colors
$white: #fff;

$primary: #81b3d2;
$secondary: #000;
$tertiary: #cccccc;
$quaternary: #eeeeee;
$body-bg: #f2f2f2;
$quinary: #e5e5e5;
$dop-grey: #bfbfbf;

//styleguide
$primary-hover: #669ec0;
$primary-down: #5496bd;
$darken-gray: #e5e5e5;

//media
$media: #5c6870;
$mob-media-color: #5c6870;
$mob-media-hover: #333333;

//Hover
$btn-hover-color: #e5e5e5;

$btn-dis: #d5d5d5;
$btn-in-dis: #a4a4a4;


//Grid
$content-width: 1200px;

$content-wrap: 960px;

$content-mobile-wrap: 280px;
$content-tablet-wrap: 640px;
$content-desktop-wrap: 970px;

$content-gutter: 20px;

//Breakpoints
$mobile: 540px;
$tablet: 768px;
$desktop: 1200px;

//Time
$transition-time: .2s;

// Maket
$maket-visible: 0; // 0 - Invisible | 1 - Visible
